    /********* scrollbar css ************/
    ::-webkit-scrollbar {
        width: 6px !important;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1 !important;
    }

    ::-webkit-scrollbar-thumb {
        background: #888 !important;
        border-radius: 10px !important;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555 !important;
    }

    body {
        height: auto !important;
        width: 100% !important;
        margin: 0 auto !important;
        background-position: center !important;
        background-image: url();
        background-image: url(https://t4.ftcdn.net/jpg/08/76/86/11/360_F_876861114_p8H5Ndbrm1nwp0yFJ1yGtWkUe55OimtN.jpg);
        background-repeat: no-repeat !important;
        background-size: cover !important;
        object-fit: cover !important;
        background-color: black;
    }

    .loginformcontainer {
        width: 500px !important;
        height: auto !important;
        background-color: rgba(255, 255, 255, 0.521) !important;
        border: 1px solid #e86209 !important;
        margin: 40px auto !important;
        overflow: hidden !important;
    }

    .input-group input:focus {
        outline: none !important;
        box-shadow: none !important;
    }

    #flexCheckChecked:focus {
        outline: none !important;
        box-shadow: none !important;
    }

    .form-control {
        padding: 10px;
        border: none !important;
        border: 2px solid #e86209 !important;
        border-radius: 20px !important;
    }

    .form-check-input {
        width: 15px !important;
        height: 15px !important;
        border: 2px solid #ff9900 !important;
        transition: border-color 0.3s ease-in-out !important;
    }

    .form-check-input:checked {
        background-color: #ff9900 !important;
        border-color: #ff9900 !important;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px !important;
    }

    @media (max-width: 768px) {

        .loginformcontainer {
            width: 429px !important;
            margin: 30px auto !important;
        }

        .imageuser {
            width: 150px;
        }
    }

    @media (max-width: 620px) {

        .loginformcontainer {
            width: 450px !important;
            height: 500 !important;
            margin: 30px auto !important;
        }
    }

    @media (max-width: 426px) {

        .loginformcontainer {
            width: 400px !important;
            overflow: hidden;
            margin: 20px auto !important;
        }

        button {
            margin: 0 auto !important;
            width: 200px !important;
        }
    }

    @media (max-width: 376px) {
        .loginformcontainer {
            width: 350px !important;
            overflow: hidden;
            margin: 30px auto !important;
        }

        .main {
            padding: 5px !important;
        }

        input {
            padding: 5px !important;
        }
    }

    @media (max-width: 321px) {

        .loginformcontainer {
            width: 300px !important;
            overflow: hidden;
            margin: 30px auto !important;
        }

        .main {
            padding: 0px !important;
        }

        input {
            padding: 5px !important;
        }

        body {
            font-size: 12px !important;
        }

        .form-check-input {
            width: 8px !important;
            height: 8px !important;
            border: 2px solid #ff9900 !important;
            transition: border-color 0.3s ease-in-out !important;
        }

        button {
            margin: 0 auto !important;
            width: 200px !important;
        }
    }

    @media (min-width: 1960px) {
        .loginformcontainer {
            width: 700px !important;
            overflow: hidden;
            margin: 150px auto !important;
        }
    }