/********** Fonts Styling **********/

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap");

/********** Overall Page Styling **********/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-color);
}

/********* scrollbar css ************/
::-webkit-scrollbar {
  width: 6px !important;
}

::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}

::-webkit-scrollbar-thumb {
  background: #888 !important;
  border-radius: 10px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #555 !important;
}

:root {
  --primary-color: #e81409;
  --secondary-color: #e86209;
  --gradient-color: radial-gradient(circle, #e86209 15%, #e81409 85%);
  --headings-color: #2f1f21;
  --background-color: #eaeaea;
  --black-tint1: #363636;
  --black-tint2: #6d6d6d;
  --black-tint3: #a3a3a3;
  --black-tint4: #c3c3c3;
  --white-color: #ffffff;
  --box-shadow: 1px 4px 5px #c3c3c3;
}

h1 {
  font-family: "inknut antiqua";
  font-weight: 800;
  font-size: 4rem;
  line-height: 4rem;
  color: var(--headings-color);
}

h2 {
  font-family: "lato";
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem;
  color: var(--secondary-color);
}

h3 {
  font-family: "inknut antiqua";
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 4rem;
  color: var(--headings-color);
}

h4 {
  font-family: "inknut antiqua";
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--headings-color);
}

h5 {
  font-family: "inknut antiqua";
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--headings-color);
}

h6 {
  font-family: "lato";
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1rem;
  color: var(--headings-color);
}

p {
  font-family: "lato";
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--black-tint1);
}

button {
  all: unset;
  background-color: var(--secondary-color);
  padding: 0.5rem 2rem;
  display: block;
  margin: 1rem auto;
  color: var(--white-color);
  font-family: "lato";
  font-size: 0.9rem;
  border-radius: 1rem 0 1rem 0;
  cursor: pointer;
  transition: background 0.4s linear;

  &:hover {
    background: var(--gradient-color);
  }
}

/***************************************/
/********** Full Profile View **********/
/***************************************/


#uploadBtn{
  width: 6rem;
}

.full_profile {
  padding: 3rem;
}

.user_settings {
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
  border-radius: 0.6rem;
  padding: 2rem;
}

.user_settings .user_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid var(--black-tint3);
  padding-bottom: 1rem;
}

.user_settings button {
  border-radius: 1rem;
  margin: 0;
}

.user_settings .user_img {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 2rem 0;
}

.user_settings .user_img img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 1px solid var(--secondary-color);
}

.user_settings .user_fields {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 2rem 8rem;
  padding: 2rem 0;
}

.user_fields .field {
  display: flex;
  align-items: center;
  border-bottom: 0.1rem solid var(--secondary-color);
}

.user_fields .field i {
  margin-right: 0.5rem;
  color: var(--black-tint1);
}

.user_fields input {
  all: unset;
  width: 100%;
  padding: 0.5rem 0;
}

.full_profile .social_accounts,
.my_recipes_display,
.my_favorites {
  margin: 2rem 0;
  padding: 2rem 0;
}

.social_accounts img {
  width: 4rem;
  margin-top: 2.5rem;
}

.social_accounts .google,
.facebook {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid var(--black-tint2);
  padding: 0.6rem;
}

.social_accounts button {
  all: unset;
  border: 0.1rem solid var(--secondary-color);
  padding: 0.5rem 2rem;
  color: var(--secondary-color);
  font-family: "lato";
  font-size: 0.9rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.4s linear;

  &:hover {
    background: var(--gradient-color);
    color: var(--white-color);
  }
}

.full_profile .logout,
.delete_account,
.changePswd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid var(--black-tint3);
}

.full_profile .logout button,
.delete_account button,
.changePswd button {
  all: unset;
  background-color: var(--secondary-color);
  padding: 0.5rem 2rem;
  color: var(--white-color);
  font-family: "lato";
  font-size: 0.9rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.4s linear;

  &:hover {
    background: var(--gradient-color);
  }
}

.full_profile i {
  margin-right: 0.5rem;
}

/********** Update Profile popup **********/

.change_profile_popup {
  background-color: var(--black-tint2);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.update_profile {
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
  height: 85vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem;
  border-radius: 1rem 0 1rem 0;
}

.update_profile .update_img {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.update_profile .update_img img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 1px solid var(--secondary-color);
}

.update_profile .form_inputs input {
  all: unset;
  width: 100%;
  border: 1px solid var(--secondary-color);
  margin-top: 1rem;
  padding: 0.3rem 0;
  border-radius: 0.5rem;
}

.update_profile button {
  margin-top: 2rem;
}

/********** Change password popup **********/

.change_password {
  background-color: var(--black-tint2);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.change-password-section {
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
  height: 60vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 1rem 0 1rem 0;
}

.change-password-section input {
  all: unset;
  border: 1px solid var(--secondary-color);
  margin-top: 2rem;
  padding: 0.3rem 2rem 0.3rem 0.3rem;
  border-radius: 0.5rem;
}

.change-password-section i {
  color: var(--black-tint2);
}

.change-password-section button {
  margin-top: 2rem;
}

.change_password .fa-close,
.change_profile_popup .fa-close {
  position: absolute;
  right: 4rem;
  top: 4rem;
  color: var(--white-color);
  font-size: 1.2rem;
}

/********** Footer Styling **********/

footer {
  width: 100vw;
  padding: 4rem;
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
}

.footer1 {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  align-items: center;
  gap: 2rem 4rem;
}

.footer1 .foot_logo img {
  width: 10rem;
}

.footer1 .foot_image {
  width: 35vw;
}

.footer1 .foot_links h6,
.foot_legal h6 {
  margin-bottom: 0.5rem;
}

.footer1 .foot_links a,
.foot_legal a {
  display: block;
  text-decoration: none;
  font-size: 0.8rem;
  font-family: "lato";
  color: var(--black-tint2);
  padding: 0.3rem 0;
}

.footer2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.footer2 .copy_text {
  font-family: "lato";
}

.footer2 .social_icons i {
  color: var(--primary-color);
  margin: 0 0.4rem;
  font-size: 1.1rem;
}

/******************** Media Query ********************/

@media (max-width: 700px) {
  .home_header nav .home_logo {
    width: 6rem;
  }

  .home_header nav .nav_links {
    display: none;
  }

  .home_header .hamburger {
    display: flex;
  }

  .home_header nav .nav_links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--white-color);
    height: 100vh;
    width: 100%;
    padding: 1rem;
  }

  .home_header nav .nav_links a {
    padding: 1rem;
  }
}