/********** Fonts Styling **********/

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap");

/********** Overall Page Styling **********/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-color);
  font-family: "lato";
}
:root {
  --primary-color: #e81409;
  --secondary-color: #e86209;
  --gradient-color: radial-gradient(circle, #e86209 15%, #e81409 85%);
  --headings-color: #2f1f21;
  --background-color: #eaeaea;
  --black-tint1: #363636;
  --black-tint2: #6d6d6d;
  --black-tint3: #a3a3a3;
  --black-tint4: #c3c3c3;
  --white-color: #ffffff;
  --box-shadow: 1px 4px 5px #c3c3c3;
}
.login_form, .signup_form {
  width: 35vw;
  margin: 1.5rem auto;
  border-radius: 1rem;
  padding: 2rem 3rem;
  border: 0.1rem solid var(--secondary-color);
  background-color: var(--white-color);
}
.login_form .profile, .signup_form .profile {
  width: 9rem;
  display: block;
  margin: 0 auto;
}
.login_form .form_inputs , .signup_form .form_inputs {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}
.form_inputs input {
  all: unset;
  width: 100%;
  border: 0.1rem solid var(--black-tint2);
  border-radius: 1rem;
  padding: 0.4rem 0.4rem;
  margin-top: 1.3rem;
}
.form_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}
.form_links .checkbox {
  font-size: 0.8rem;
  color: var(--black-tint1);
}
.form_links .check_input {
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--secondary-color);
  transition: border-color 0.3s ease-in-out;
}
.form_links .check_input:checked {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.form_links a {
  font-size: 0.8rem;
  color: var(--secondary-color);
}
.google_login p , .google_signup p {
  text-align: center;
  font-size: 0.8rem;
  color: var(--black-tint2);
  margin: 1rem 0;
}
.google_login img, .google_signup img {
  width: 5rem;
  display: block;
  margin: 0 auto;
}
.login_btn button, .signup_btn button {
  all: unset;
  width: 100%;
  background-color: var(--secondary-color);
  padding: 0.4rem;
  border-radius: 1rem;
  text-align: center;
  color: var(--white-color);
  margin: 1.6rem 0;
  cursor: pointer;
  transition: background-color 0.4s linear;

  &:hover{
    background: var(--gradient-color);
  }
}
.login_form .signup_link {
  text-align: center;
  font-size: 0.8rem;
  color: var(--black-tint1);
  margin-top: 2rem;
}
.login_form .signup_link a {
  color: var(--secondary-color);
}

.signup_form .login_link{
    text-align: center;
  font-size: 0.8rem;
  color: var(--black-tint1);
  margin-top: 2rem;
}
.signup_form .login_link a{
  color: var(--secondary-color);
    
}